#Box{
    display : flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 100vh; 
    border-width: 70px;
    border-color: aqua;
}
#baby{
    height: 70vh;
    width: 30vw;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    display : flex;
    justify-content: center;
    align-items: center;
}
#choice{
    display: block;
}
.cont
{
    width:70vw;
    height:30px;
    display:block; 
}
.buffer{
    display:block;
    width:500px;
    height:10px;
}
#c{
    background-color: aqua;
}